<%- include("template/header", {tituloWeb:"Página de inicio"}) %>
    <div class="container">
      <h1>CRUD MONGO</h1>
      <div class="d-grid gap-2">
        <a
          class="btn btn-success my-4"
          href="/pets/create"
        >
          Crear nueva mascota
        </a>
      </div>
      

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
                <% if (petArray.length > 0) { %>
                    <% petArray.forEach(element => { %>
                        <tr>
                            <th scope="row"><%= element.id %></th>
                            <td><%= element.name %></td>
                            <td><%= element.description %></td>
                            <td>
                              <a href="/pets/<%= element.id %>" class="btn btn-warning btn-sm"> Editar</a>
                            </td>
                          </tr>          
                    <% }) %>
                <% } %>
              
            </tbody>
          </table>
    </div>    

<%- include("template/footer") %>